      <div class="comments">
        <% if @photo.comments.present? %>
          <% @photo.comments.reverse.each do |c| %>
            <div class="comment_<%= c.id %>">
              <%= image_tag show_comments_avatar_thumb(c) %> <%= link_to c.user.name, c.user %> 
              (<%= time_ago_in_words(c.created_at) %> ago): 
              <span class="comment_content"><%= c.content %></span> 
              <% if current_user?(c.user) || current_user.admin %>
                <%= link_to 'x', c, method: :delete, data: { confirm: "Are you sure you want to delete this comment?" }, remote: true %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>