  <div class="form_separated_field">
    Enter passwords only if you want to change your password.  Otherwise, leave this area blank.<br /><br />
    <p>
      <%= f.label "Old Password" %>
      <%= f.password_field :old_password %>
    </p>
    <hr>
    <p>
      <%= f.label "New Password" %>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label "Confirm New Password" %>
      <%= f.password_field :password_confirmation %>
    </p>
  </div>