    <h1><%= @user.name %></h1>
    Following: <span class="followed_users_number">
      <%= @user.followed_users.count %>
    </span><br />
    Followers: <span class="followers_number">
      <%= @user.followers.count %>
    </span><br />
    Photos: <span class="photos_number"><%= @photo_list.count %></span><br />
    Likes: <span class="likes_number"><%= @user.likes.count %></span><br />
    <% if current_user && current_user != @user %>
      <div class="follow_link">
        <%= render 'relationships/follow' %>
      </div>
    <% end %>