<h1>
  <%= @user.name %>
</h1>

Following <%= @following.count %>:<br/ ><br />
<% @following.each do |f| %>
  <div class="show_all">
    <%= link_to f do %>
      <%= image_tag show_avatar(f) %><br />
      <%= f.name %>
    <% end %>
  </div>
<% end %>