<h1>
  All Users
</h1>

<% @users.each do |u| %>
  <div class="show_all">
    <%= u.id %>: <%= link_to u do %><%= image_tag u.avatar_url(:thumb) %><%= u.name %><% end %><br>
    <% if !current_user?(u) %>
      <small>(<%= link_to "delete", u, method: :delete, data: { confirm: "Are you sure?" } %>)</small>
    <% end %>
  </div>
<% end %>