<% provide(:title, @user.name) %>
<div class="user_title">
  <div class="user_avatar">
    <%= image_tag show_avatar %>
      <% if current_user == @user %>
        <div class="control_panel_label">Control Panel</div>
        <div class="control_panel_overlay">
          <%= render 'control_panel' %>
        </div>
      <% end %>
  </div>
  <div class="user_info">
    <%= render 'info' %>
  </div>
</div>
 
<h2>Submitted Photos:</h2>
<%= render 'users_photos' %>

<br /><br />

<% if !@liked_photos.blank? %>
  <h2>Liked Photos:</h2>
  <% @liked_photos.reverse.each do |l| %>
    <%= link_to l do %><%= image_tag l.image_url(:quicknav) %><% end %>
  <% end %>
<% end %>
