<% provide(:title, @user.name) %>
<div class="user_title">
  <div class="user_avatar">
    <%= image_tag show_avatar %>
      <% if current_user == @user %>
        <div class="control_panel_label">Control Panel</div>
        <div class="control_panel_overlay">
          <%= render 'control_panel' %>
        </div>
      <% end %>
  </div>
  <div class="user_info">
    <h1><%= @user.name %></h1>
    Followers: <span class="followers_number">0</span><br />
    Photos: <span class="photos_number"><%= @photo_list.count %></span><br />
    Likes: <span class="likes_number">0</span><br />
  </div>
</div>
 
<h2>Submitted Photos:</h2>
<%= render 'users_photos' %>
