<% provide(:title, @user.name) %>
<div class="user_title">
  <div class="user_avatar">
    <%= image_tag show_avatar %>
      <% if current_user == @user %>
        <div class="control_panel_label">Control Panel</div>
        <div class="control_panel_overlay">
          <%= render 'control_panel' %>
        </div>
      <% end %>
  </div>
  <div class="user_info">
    <h1><%= @user.name %></h1>
    Following: <span class="followed_users_number">
      <%= @user.followed_users.count %>
    </span><br />
    Followers: <span class="followers_number">
      <%= @user.followers.count %>
    </span><br />
    Photos: <span class="photos_number"><%= @photo_list.count %></span><br />
    Likes: <span class="likes_number">0</span><br />
    <% if current_user != @user %>
      <div id="follow_form">
        <% if current_user.following?(@user) %>
          <%= render 'unfollow' %>
        <% else %>
          <%= render 'follow' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
 
<h2>Submitted Photos:</h2>
<%= render 'users_photos' %>

<br /><br />

<% if !@liked_photos.blank? %>
  <h2>Liked Photos:</h2>
  <% @liked_photos.reverse.each do |l| %>
    <%= link_to l do %><%= image_tag l.image_url(:quicknav) %><% end %>
  <% end %>
<% end %>
