<h1>
  <%= @photo.name %>
</h1>

  <div class="main_section">
    <%= render 'navarrows' %>

    <% if @photo.image? %>
      <%= link_to @photo.previous do %>
        <%= image_tag @photo.image_url, id: "galleryimage" %>
      <% end %>
    <% end %>
  </div>

<%= render 'submitted_by' %>

  <div class="captionarea">
    <%= render 'caption' %>

    <%= render 'likes/likes' %>
    <hr>
    <% if current_user %>
      <%= render 'comments/post_comment' %>
    <% end %>
    <%= render 'comments/comments' %>
  </div>

  <div class="quicknav">
    <%= render 'quicknav' %>
  </div>
