<h1>
  <%= @photo.name %>
</h1>

<%= render 'submitted_by' %>

  <div class="main_section">
    <%= render 'navarrows' %>

    <% if @photo.image? %>
      <%= link_to @photo.previous do %>
        <%= image_tag @photo.image.url(:full_size), id: "galleryimage" %>
      <% end %>
    <% end %>
  </div>

  <div class="captionarea">
    <%= render 'caption' %>
    <% if @photo.likes.present? || current_user %>
      <hr>
    <% end %>
    <%= render 'likes/likes' %>
    <% if @photo.comments.present? || current_user %>
      <hr>
    <% end %>
    <% if current_user %>
      <%= render 'comments/post_comment' %>
    <% end %>
    <%= render 'comments/comments' %>
  </div>

  <div class="quicknav">
    <%= render 'quicknav' %>
  </div>
