<h1>
  <%= @photo.name %>
</h1>
  <%= render 'navarrows' %>

  <% if @photo.image? %>
    <%= link_to @photo.previous do %>
      <%= image_tag @photo.image_url, id: "galleryimage" %>
    <% end %>
  <% end %>

  <div class="captionarea">
    <%= render 'caption' %>
  </div>

  <div class="quicknav">
    <%= render 'quicknav' %>
  </div>

