      <%= form_for(current_user.comments.create(user_id: current_user.id, photo_id: @photo.id), remote: true) do |f| %>
        <%= f.hidden_field :photo_id %>
        <p>
          <%= f.label "Leave a Comment" %>
          <%= f.text_area :content %>
        </p>
        <%= f.submit "Post Comment" %>
      <% end %>