<%= form_for @photo, html: { multipart: true } do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_messages">
      <h3>The following errors were detected:</h3>
      <ul>
        <% for message in @photo.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <div id="upload_tabs">
      <ul>
        <li class="tab_upload"><a href="#upload_photo">Upload Photo</a></li>
        <li class="tab_upload"><a href="#paste_url">Paste URL</a></li>
      </ul>
      <div id="upload_photo" class="form_separated_field">
        <br />
        <%= f.file_field :image %>
      </div>
      <div id="paste_url" class="form_separated_field">
        <%= f.label :remote_image_url, 'image URL' %>
        <%= f.text_field :remote_image_url, class: "paste_url_field" %>
      </div>
    </div>
  </p>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :caption %>
    <%= f.text_area :caption %>
  <p>
    <%= f.submit "Upload Photo" %>
  </p>
<% end %>
