<%= form_for @photo, html: { multipart: true } do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_messages">
      <h3>The following errors were detected:</h3>
      <ul>
        <% for message in @photo.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label "Upload Photo" %>
    <div id="upload_field">
        <%= f.file_field :image, class: "upload_image_field" %>
    </div>
  </p>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :caption %>
    <%= f.text_area :caption %>
  <p>
    <%= f.submit "Upload Photo", class: "upload_photo_button", disable_with: "Uploading..." %>
  </p>
<% end %>
