<%= provide(:title, 'All Photos') %>

<% @photos.each do |p| %>
  <span class="<%= dom_id(p) %>">
    <span class="show_all">
      <%= link_to p do %>
        <%= image_tag p.image.url(:thumb) %> 
      <% end %>
      <% if current_user && current_user.admin? %>
        <%= link_to p, method: :delete, data: { confirm: "Delete this photo?" }, remote: true do %>
            <div class="delete_overlay">x</div>
        <% end %>
        </div>
      <% end %>
    </span>
  </span>
<% end %>

<%= will_paginate @photos %>